.vs
PhoneNumbersUnmanaged/obj
PhoneNumbersUnmanaged/packages/libphonenumber-csharp.8.12.51
PhoneNumbersUnmanaged/packages/System*
Win32/*.xml
Win32/*.config
Win32/*.dcu
Win32/*.exe
Win32/*.rsm
Win64/*.xml
Win64/*.config
Win64/*.dcu
Win64/*.exe
Win64/*.rsm
__history
*.local
*.identcache
*.dsk